<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 全局配置 -->
	<settings>
		<!-- 开启缓存 -->
		<setting name="cacheEnabled" value="true"/>
		<!-- 懒加载 -->
		<setting name="lazyLoadingEnabled" value="false"/>
        <setting name="aggressiveLazyLoading" value="true"/>
          <!-- 配置日志 -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
	</settings>
	<!-- 扫描别名-->
	<typeAliases>
		<package name="com.xx.entity"/>
	</typeAliases>
	
	
	

</configuration>