<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xx.mapper.EmployeeMapper" >

	<resultMap id="BaseResultMap" type="com.xx.entity.Employee" >
    	<id column="employee_id" property="employeeId" jdbcType="INTEGER" />
    	<result column="employee_name" property="employeeName" jdbcType="VARCHAR" />
    	<result column="id_card" property="idCard" jdbcType="CHAR" />
    	<result column="position_id" property="positionId" jdbcType="INTEGER" />
    	<result column="dept_id" property="deptId" jdbcType="INTEGER" />
    	<result column="employee_password" property="employeePassword" jdbcType="VARCHAR" />
    	<result column="entry_time" property="entryTime" jdbcType="VARCHAR" />
    	<result column="phone_num" property="phoneNum" jdbcType="VARCHAR" />
    	<result column="employee_status" property="employeeStatus" jdbcType="INTEGER" />
  	</resultMap>
	
	<!-- 员工登录 -->
 	<select id="employeeLogin" parameterType="employee" resultMap="BaseResultMap">
 		select * from employee 
 		where employee_name = #{employeeName} and employee_password = #{employeePassword}
 	</select>
 	
 	<!-- 登录前 查找是否有该用户名 -->
 	<select id="beforeLogin1" parameterType="employee" resultType="int">
 		select count(*) from employee 
 		where employee_name = #{employeeName}
 	</select>
 	
 	<!-- 登录前 判断密码是否正确 -->
 	<select id="beforeLogin2" parameterType="employee" resultType="int">
 		select count(*) from employee 
 		where employee_name = #{employeeName} and employee_password = #{employeePassword}
 	</select>
 	
 	<!-- 员工提交为审查的工作记录 -->
 	<resultMap id="uncheckedWorkMap" type="com.xx.entity.UncheckedWork" >
    	<id column="unchecked_id" property="uncheckedId" jdbcType="INTEGER" />
    	<result column="cargo" property="Cargo" jdbcType="VARCHAR" />
    	<result column="employee_id" property="employeeId" jdbcType="INTEGER" />
    	<result column="employee_name" property="employeeName" jdbcType="VARCHAR" />
    	<result column="submission_time" property="submissionTime" jdbcType="VARCHAR" />
    	<result column="work_type" property="workType" jdbcType="VARCHAR" />
    	<result column="quantity" property="quantity" jdbcType="double" />
    	<result column="work_id" property="workId" jdbcType="INTEGER" />
  	</resultMap>
  	
  	<!-- 员工提交工作记录 -->
  	<insert id="addUncheckedWork" parameterType="com.xx.entity.UncheckedWork">
  		insert into unchecked_work(employee_id,employee_name,cargo,work_type,quantity,work_id) 
  		values(#{employeeId},#{employeeName},#{cargo},#{workType},#{quantity},#{workId})
  	</insert>
  	
  	<!-- 提交前判断是否今日已经审核过 -->
  	<select id="ExistChecked" parameterType="UncheckedWork" resultType="int">
  		select count(employeeId) from employee_works 
  		where employeeId = #{employeeId} and date_format(time,'%Y-%m-%d')= date_format(now(),'%Y-%m-%d')
  	</select>
  	
  	<!-- 提交前判断是否今日提交过 -->
  	<select id="ExistUnchecked" parameterType="UncheckedWork" resultType="int">
  		select count(employeeId) from unchecked_work 
  		where employeeId = #{employeeId} and date_format(submission_time,'%Y-%m-%d')= date_format(now(),'%Y-%m-%d')
  	</select>
 	
 	<!-- 提交前判断是否今日提交过  若已提交 先删除 再提交 -->
  	<delete id="deleteExistUnchecked" parameterType="UncheckedWork">
  		delete from unchecked_work
  		where employeeId = #{employeeId} and date_format(submission_time,'%Y-%m-%d')= date_format(now(),'%Y-%m-%d')
  	</delete>
</mapper>